*{
border: 0;
padding: 0;
margin: 0;
}

body {
	margin: 0;
	background-image: url("/static/img/oriental-tiles.png");
	background-repeat: repeat;
	font-family: 'Ubuntu', sans-serif;
}


.navbar
{  
	background-color: #131c46e6!important;       
}

.container-fluid
{
	padding: 0;
}

.btn
{
	color: white
}

.navbar-brand {
color: #cab152!important;
}

.btn-outline-success {
    border-color: #D9B310;
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #1a508894;

    }

.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 203, 46, 0.5);
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    border-color: #D9B310;
}

.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem #d8b31385;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #D9B310;
    border-color: #D9B310;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #D9B310;
    border-color: #6c757d;
}

.loginstatus {
	background: #c1b08af0;
	color: #ffffff;
	text-align: end;
	padding: .5rem 1rem;
}

.footer {
	background: #c1b08af0;
	color: #ffffff;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0;
}

.countryform{
	text-align: center;
	color: #ffffff;
	background: #328cc1bf;

}

.movie-poster{
	text-align: center;
	color: #ffffff;
	background: #c2b088d1;
	margin: 10px;
    padding: 20px;
}

.movie-title{
	text-align: left;
}

.list-group-item-secondary {
    color: #ffffff;
    background-color: #c1b08af0;
    font-size: small;
}

.moody-map{
	margin: 10px;
    padding: 0px;
}

.add-movie-btn{
	background-color: #0c1238
}

.map-country-selector{
	text-align: center;
	color: #ffffff;
	background: #c2b088d1;
	margin: 10px;
    padding: 20px;
}