{% extends 'basereact.html' %}

{% block title %} Moody - Movies by Destination{% endblock %}

{% block body %}
	<div id="root"></div>
{% endblock %}

{% block js %}
<script src="/static/moodyMap.jsx" type="text/jsx"></script>
<script src="/static/moodyreact.jsx" type="text/jsx"></script>
{% endblock %}
<!-- 
$.get("/movies", {country: country.country_name})
                  .then(response => {
                    const {movies} = response
 -->
<!-- 
<h3>${movies[1].movie_title}</h3>
                              <li>Rating: ${movies[1].imdb_rating}</li>
                              <li>Votes: ${movies[1].votes}</li>
                              <img alt="Poster" src=${movies[1].movie_poster} title="test"/> -->